In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")

In [6]:
df.head(1)

,Place,Location,Coordinate,Google Maps Rating,Google Reviews (Count),Source,Description,Tourism/Visitor Fee (approx in USD)
0,Tanah Lot,"Beraban, Kec. Kediri, Kabupaten Tabanan, Bali ...","8.6212째 S, 115.0868째 E",4.6,75899,https://www.google.com/maps/place/Tanah+Lot/@-...,Tanah Lot is a rock formation off the Indonesi...,"Tanah Lot entrance tickets cost 20,000 Rupiah ..."

In [7]:
df.columns

Index(['Place', 'Location', 'Coordinate', 'Google Maps Rating',
       'Google Reviews (Count)', 'Source', 'Description',
       'Tourism/Visitor Fee (approx in USD)'],
      dtype='object')

In [8]:
# Combine columns and format as a single text
result = '\n'.join(f"{row['Description']}, {row['Tourism/Visitor Fee (approx in USD)']}" for _, row in df.iterrows())

# Save the result to a .md file
output_file = "result.md"
with open(output_file, 'w') as file:
    file.write(result)